{{#each posts as |post| }}
<section class = "card">
<div class="row mb-4 project">
  <div class="col-md-5">
    <div class="card header">
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    </div>
    <p>{{post.content}}</p>

    <p>Posted by {{post.user.username}} on {{format_date post.date_created}}</p>
</div>
</section>

{{/each}}


<a href='/post-create'>Create New Post</a>